@import 'variable';
@import 'componentes';
@import 'variables';

@include hamburguesa($fondoPrincipal,
    $colorAcentos,
    $colorSecundario,
    l,
    2px,
    $menuWidth,
    0px,
    0,
    3,
    22px);

@include btn_solid(menu, $fondoPrincipal, 2px) {
    width: 100%;
}

@include my(15px);

%btn_txt {
    text-decoration: none;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

%flex-row {
    display: flex;
    flex-flow: row nowrap;

}

.grid {
    display: flex;
    float: right;
    grid-template-areas: "menu contenido", "pie pie";
    grid-template-columns: $menuWidth 65vw;
    grid-template-rows: auto 150px;
}

aside {
    grid-area: menu;
    height: 100vh;
    background-color: $fondoPrincipal;
    width: $menuWidth;
}

header {
    grid-area: cabeza;
}

%margin1P {
    margin: 0 1.5rem;
}

%flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    grid-area: contenido;
    @extend %margin1P;
    width: calc(95% - #{$menuWidth});
    @extend %flex-col;

    >article {
        display: flow-root;
        text-align: justify;
    }

    img {
        margin-left: 1rem;
        float: right;
    }
}

.gridDescarga {
    display: grid;
    grid-template-areas: "c1 c2";
    grid-template-columns: 35% 35%;
    grid-template-rows: auto;
    justify-content: space-around
}

@include btne_solid(descargas, $fondoPrincipal, 2px);

.col1 {
    grid-area: c1;
    margin-top: 1rem;
    // width: 100%;
    @extend %flex-col;

    >a {
        @extend %btn_txt;
    }
}

.col2 {
    margin-top: 1rem;
    grid-area: c2;
    // width: 100%;
    @extend %flex-col;

    >a {
        @extend %btn_txt;
    }

}

//sass compilation
.cabecera {
    height: 120px;
    background-color: $fondoPrincipal;
}

.imgLogo {
    height: 110px;
    margin-right: 15px;
}

.cabeza {
    @extend %flex-row;
    width: 100vw;

}



.logo {
    height: fit-content;
    transition: all 0.4s ease;
    padding-bottom: 10px;
    margin: 0 15px;


    &:hover {
        transform: scale(1.05);
        filter: saturate(180%);
    }
}

h1 {
    font-size: 30px;
    color: $colorAcentos;
    font-weight: bold;

}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 30px;
    color: $colorAcentos;
    font-weight: bold;
}

.mapas {
    border: $colorSecundario solid 4px;
    width: 100%;
    height: 100%;
}

p {
    font-size: 18px;
}

.imgMenu {
    width: 85%;
    border: $colorSecundario solid 5px;
    transition: all 0.4s ease;
}

.imgMenu:hover {
    transform: scale(1.01);
    filter: saturate(180%);
}

h2 {
    color: $colorPrimario;
    font-weight: bold;
}

.imgCentro {
    width: 40%;
    border: $colorSecundario solid 4px;
}

.iconos {
    width: 32px;
    height: 32px;
    margin: 8px;
}

footer {
    grid-area: pie;
    position: relative;
    width: 100%;
    @extend %flex-row;
    justify-content: space-between;
    bottom: 0;
}

footer h4 {
    font-size: 16px;
}

footer>div {
    padding-left: 15px;
    padding-right: 15px;
}

footer img:hover {
    transform: scale(1.3);
    filter: saturate(180%);
}

footer img {
    transition: all ease;
}

.centro {
    height: 100%;

}

.linea {
    border-top: $colorSecundario solid 4px;
    padding-top: 20px;
}

.lineaAbajo {
    border-bottom: $colorSecundario solid 4px;
    /* padding-top: 20px; */
}

.dropdown-menu {
    margin: 0px !important;
    padding: 0px !important;
    border: #dad5d5 solid 4px !important;

}

.mapasD {
    width: 55%;
    height: calc(30vw * 2 / 3);
    float: right;
    margin-bottom: 5px;
    padding-bottom: 3px;
    margin-left: 14px;
}

.ddm {
    padding: 0px !important;
}

//////////////////////////////////////////
//                 MEDIA QUERYS         //
//DEFINICIONES DE MQ EN _VARIABLE       //
//////////////////////////////////////////

@include xl {
    .mapasD {
        width: 60%;
    }
}

@include l {
    .imgCentro {
        width: 50%;
    }

    .mapasD {
        width: 80%;
        height: calc(45vw * 2 / 3);
    }
}

@include md {
    .imgCentro {
        width: 50%;
    }

    .mapasD {
        width: 100%;
        height: calc(60vw * 2 / 3);
    }
}

@include s {
    .grid {
        grid-template-areas: "contenido", "pie";
        grid-template-columns: 100%;
        grid-template-rows: auto 150px;

    }

    .gridDescarga {
        grid-template-areas: "c1", "c2";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .mapasD {
        height: calc(80vw * 2 / 3);
    }

    h1 {
        font-size: 24px;
        color: $colorPrimario;
    }

    .imgCentro {
        width: 100%;
    }

    aside {
        width: 0;
    }

    main {
        width: 100%;

        .titReg {
            display: none;
        }
    }

    .logo {
        margin: 0;
        padding: 0;

        >img {
            margin: 0;
            padding: 0;
        }

    }

    .imgLogo {
        margin: 010;
        padding: 0;
        top: 0;
        left: 0;
    }

    .minis-d>h2 {
        display: none;
    }

    .imgLogoDer {
        margin-right: 15px !important;
    }


}


@include xs {


    .logo {
        margin: 0;
        padding: 0;

        >img {
            margin: 0;
            padding: 0;
        }

    }

    .imgLogo {
        margin: 010;
        padding: 0;
        top: 0;
        left: 0;
    }

    .imgLogoDer {
        margin-right: 15px !important;
    }


}

@include xxs {
    footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}